.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black;
  border-radius: 20px; */
  padding: 10px;
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds_181624-11068.jpg?w=2000&t=st=1697522167~exp=1697522767~hmac=5c3b46e6d45d6f623f331c3abfa4112765c4472f6a9ce459d45099638e02b906');
}

.login-box h2 {
  color: black;
  font-size: 24px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.login-form {
  /* background-color: black; */
  /* color: black; */
  /* border-radius: 10px; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form input,
.login-form select {
  font-size: 16px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding-right: 80px; /* Add horizontal padding here */

  box-sizing: border-box;
}

.login-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: grey;
  color: black;
}

button.login-button[type="submit"] {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.title {
  color: white;
}