@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@200&family=Quicksand:wght@500&display=swap");

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black;
  border-radius: 20px; */
  padding: 10px;
  min-height: 100vh;
  background-image: url('https://images3.alphacoders.com/557/557573.jpg');
  font-family: "Quicksand", sans-serif;
}

.login-box h2 {
  color: black;
  font-size: 24px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.login-form {
  /* background-color: black; */
  /* color: black; */
  /* border-radius: 10px; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form input,
.login-form select {
  font-size: 16px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding-right: 80px; /* Add horizontal padding here */

  box-sizing: border-box;
}

.login-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: grey;
  color: black;
}

button.login-button[type="submit"] {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.title {
  color: white;
}