.card-border {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 35vh;
}

.desc-text {
    font-size: 1rem;
    padding: 0;
    color: white;
}
.scrollable-panel {
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }

#underline {
    text-decoration: underline;
    cursor: pointer;
}